In [70]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import mlflow
import mlflow.sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [71]:
# Loading Data
df = pd.read_csv('./data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [72]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [73]:
# Data Cleaning
# drop customer_id column
df.drop(columns=['customerID'], inplace=True)

In [74]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [76]:
df[df['TotalCharges'].isnull()]

Empty DataFrame
Columns: [gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

In [77]:
df['TotalCharges'].unique()

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [78]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [80]:
df.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [81]:
df['TotalCharges'].median()

np.float64(1397.475)

In [82]:
df.fillna({'TotalCharges':1397.475}, inplace=True)

In [83]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [84]:
# Label Encoding foe Categorical Variables
encoder = LabelEncoder()

In [85]:
categorical_cols = df.select_dtypes(include=['object']).columns

In [86]:
categorical_cols

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Churn'],
      dtype='object')

In [87]:
for i in categorical_cols:
    df[i] = encoder.fit_transform(df[i])

In [88]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1

In [89]:
# Feature Scaling
scalar = StandardScaler()

In [90]:
scaled_cols = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [91]:
df[scaled_cols] = scalar.fit_transform(df[scaled_cols])

In [92]:
df[scaled_cols]

        tenure  MonthlyCharges  TotalCharges
0    -1.277445       -1.160323     -0.994242
1     0.066327       -0.259629     -0.173244
2    -1.236724       -0.362660     -0.959674
3     0.514251       -0.746535     -0.194766
4    -1.236724        0.197365     -0.940470
...        ...             ...           ...
7038 -0.340876        0.665992     -0.128655
7039  1.613701        1.277533      2.243151
7040 -0.870241       -1.168632     -0.854469
7041 -1.155283        0.320338     -0.872062
7042  1.369379        1.358961      2.014288

[7043 rows x 3 columns]

In [93]:
# Splitting dataset
X = df.drop(columns=['Churn']) # InDependent
y = df['Churn'] #Dependent

In [94]:
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,-1.277445,0,1,0,0,2,0,0,0,0,0,1,2,-1.160323,-0.994242
1,1,0,0,0,0.066327,1,0,0,2,0,2,0,0,0,1,0,3,-0.259629,-0.173244
2,1,0,0,0,-1.236724,1,0,0,2,2,0,0,0,0,0,1,3,-0.362660,-0.959674
3,1,0,0,0,0.514251,0,1,0,2,0,2,2,0,0,1,0,0,-0.746535,-0.194766
4,0,0,0,0,-1.236724,1,0,1,0,0,0,0,0,0,0,1,2,0.197365,-0.940470

In [95]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [96]:
cleaned_data = pd.concat([X,y], axis=1)

In [97]:
cleaned_data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,-1.277445,0,1,0,0,2,0,0,0,0,0,1,2,-1.160323,-0.994242,0
1,1,0,0,0,0.066327,1,0,0,2,0,2,0,0,0,1,0,3,-0.259629,-0.173244,0
2,1,0,0,0,-1.236724,1,0,0,2,2,0,0,0,0,0,1,3,-0.362660,-0.959674,1
3,1,0,0,0,0.514251,0,1,0,2,0,2,2,0,0,1,0,0,-0.746535,-0.194766,0
4,0,0,0,0,-1.236724,1,0,1,0,0,0,0,0,0,0,1,2,0.197365,-0.940470,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,-0.340876,1,2,0,2,0,2,2,2,2,1,1,3,0.665992,-0.128655,0
7039,0,0,1,1,1.613701,1,2,1,0,2,2,0,2,2,1,1,1,1.277533,2.243151,0
7040,0,0,1,1,-0.870241,0,1,0,2,0,0,0,0,0,0,1,2,-1.168632,-0.854469,0
7041,1,1,1,0,-1.155283,1,2,1,0,0,0,0,0,0,0,1,3,0.320338,-0.872062,1
7042,1,0,0,0,1.369379,1,0,1,2,0,2,2,2,2,2,1,0,1.358961,2.014288,0

In [98]:
cleaned_data.to_csv('Cleaned_data.csv')

In [99]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [100]:
X_test

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
185,0,0,1,0,-1.277445,0,1,0,0,0,0,0,0,0,0,1,2,-1.328164,-0.996471
2715,1,0,0,0,0.351370,1,2,2,1,1,1,1,1,1,0,1,0,-1.313208,-0.567508
3825,0,0,1,1,0.799294,1,0,2,1,1,1,1,1,1,2,0,3,-1.509300,-0.551945
1807,0,0,0,0,-1.277445,1,0,1,0,0,2,0,0,0,0,0,2,0.385148,-0.973713
132,1,0,0,0,1.410099,1,0,0,0,0,0,2,0,0,2,0,0,-0.472339,0.431848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6366,0,0,1,0,1.287938,1,0,0,0,2,2,2,0,2,2,1,3,0.117599,0.925731
315,1,0,1,1,0.758574,1,2,1,2,2,0,2,2,2,1,0,1,1.505199,1.503010
2439,1,0,1,1,-0.625919,1,0,2,1,1,1,1,1,1,1,0,0,-1.491021,-0.861842
5002,0,0,1,1,1.491540,0,1,0,2,0,2,0,0,2,2,1,1,-0.691696,0.299404
1161,1,0,0,1,-1.277445,0,1,0,0,2,0,0,0,0,0,1,3,-1.110469,-0.993580

In [101]:
# MLFLOW Tracking
mlflow.set_experiment('Churn_modelling_exp1')
models = {'RandomForest':RandomForestClassifier(n_estimators=100,random_state=42),
          'Gradientboosting':GradientBoostingClassifier(n_estimators=100, random_state=42),
          'Logesticregression':LogisticRegression(max_iter=500)
          }

2025/07/08 21:41:33 INFO mlflow.tracking.fluent: Experiment with name 'Churn_modelling_exp1' does not exist. Creating a new experiment.

In [102]:
for models_name, model in models.items():
    with mlflow.start_run(run_name=models_name):
        # Train Model
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        
        # Log Model acuuracy
        accuracy = accuracy_score(y_test, y_pred)
        mlflow.log_param('model_name', models_name)
        mlflow.log_metric('accuracy', accuracy)
        mlflow.sklearn.log_model(model,models_name)
        
        print(f'{models_name}accuracy:{accuracy}')
        # print(classification_report(y_test,y_pred))

2025/07/08 21:41:39 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

RandomForestaccuracy:0.7970191625266146

2025/07/08 21:41:47 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

Gradientboostingaccuracy:0.8055358410220014

2025/07/08 21:41:53 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

Logesticregressionaccuracy:0.8176011355571328

In [103]:
new_testing = X_test.sample(5)

In [104]:
new_testing

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
3024,1,0,0,1,-0.951682,1,0,2,1,1,1,1,1,1,0,0,3,-1.474403,-0.926144
6283,0,0,0,0,-1.196004,1,0,1,2,0,2,0,2,2,0,1,1,1.137942,-0.880539
239,1,0,0,0,-0.666639,1,0,2,1,1,1,1,1,1,2,0,3,-1.496006,-0.881885
5357,1,0,1,0,1.125057,1,0,2,1,1,1,1,1,1,2,0,3,-1.489359,-0.451972
421,0,0,0,0,-1.033122,1,0,1,0,0,0,0,0,0,0,1,0,0.169115,-0.779859

In [105]:
model.predict(new_testing)

array([0, 1, 0, 0, 1])